@model PartsInParcels.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <hr />
        <form class="col s12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProductID)
            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Image)
                    @Html.EditorFor(model => model.Image)
                    @Html.ValidationMessageFor(model => model.Image)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Price)
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @type = "number", @value = "0", @min = "0", @step = "0.01" } })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>

            <div class="row">
                <div class="switch">
                    @Html.EditorFor(model => model.Cured)
                    @Html.ValidationMessageFor(model => model.Cured)
                    <label>
                        Uncured
                        <input type="checkbox" />
                        <span class="lever"></span>
                        Cured
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Stock)
                    @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @type = "number", @value = "25", @min = "0", @step = "1" } })
                    @Html.ValidationMessageFor(model => model.Stock)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Grade)
                    @Html.EditorFor(model => model.Grade)
                    @Html.ValidationMessageFor(model => model.Grade)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Origin)
                    @Html.EditorFor(model => model.Origin)
                    @Html.ValidationMessageFor(model => model.Origin)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <textarea class="materialize-text-area"></textarea>
                    <label for="Description">Description</label>
                </div>
            </div>

            <div class="row">
                <div class="col s6 offset-2">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
                </div>
            </div>

        </form>
     </div> 
}
